﻿<div class="d-flex container py-3 justify-content-between">
    <div>
        <a href="/">
            <i class="fa-solid fs-5 fa-pizza-slice"></i>
        </a>
    </div>

        <partial name="_LoginPartial" class=""></partial>
</div>