﻿@using pizzeria_crud_refactoring.Models
@model PizzaFormModel

<h1 class="container mx-auto my-4">Crena una pizza</h1>
<div class="my-4 container mx-auto">
    <form asp-controller="" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="formGroupExampleInput">Nome pizza</label>
            <input type="text" class="form-control" asp-for="Pizza.Name">
            <span class="text-danger" asp-validation-for="Pizza.Name"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Descrizione</label>
            <textarea class="form-control" asp-for="Pizza.Description" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="Pizza.Description"></span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Foto</label>
            <input type="text" class="form-control" asp-for="Pizza.Photo">
            <span class="text-danger" asp-validation-for="Pizza.Photo"></span>

        </div>
        <div class="form-group mb-4">
            <label for="formGroupExampleInput2">prezzo €</label>
            <input type="number" class="form-control" asp-for="Pizza.Price">
            <span class="text-danger" asp-validation-for="Pizza.Price"></span>
        </div>

        @* categorie *@
       <div class="form-group mb-4">

            <select asp-for="Pizza.CategoryId" class="d-block w-100">
                <option>---</option>
                @foreach (Category category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>


        @* Ingredienti *@
        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <select asp-for="SelectedIngredients"
                    asp-items="@Model.Ingredients"
                    multiple="multiple"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
            </select>
        </div>


        <button type="submit" class="btn btn-success">Crea</button>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Pizza"> Lascia perde torna indietro</a>
    </form>
</div>